

services:
    citas-db:
        image: mariadb:11.4.8-noble
        container_name: citas-db
        restart: unless-stopped
        
        env_file:
            - ./api-citas/.env
        
        ports:
            - 3306:3306

        volumes:
            - citas_db:/var/lib/mysql
            - ./db/init-citas:/docker-entrypoint-initdb.d/
    
        networks:
            - citas-net


    barberos-db:
        image: mariadb:11.4.8-noble
        container_name: barberos-db
        restart: unless-stopped
        
        env_file:
            - ./api-barberos/.env
        
        ports:
            - 3307:3306

        volumes:
            - barberos_db:/var/lib/mysql
            - ./db/init-barberos:/docker-entrypoint-initdb.d/

        networks:
            - barberos-net


    api-citas:
        image: ghcr.io/inothingatall/api-citas:latest
        container_name: api-citas
        restart: unless-stopped
        
        env_file:
            - ./api-citas/.env
        
        ports:
            - 5001:5001
        
        volumes:
            - ./api-citas:/app

        depends_on:
                - citas-db

        networks:
            - citas-net
            - apis-net


    api-barberos:
        image: ghcr.io/inothingatall/api-barberos:latest
        container_name: api-barberos
        restart: unless-stopped
        
        env_file:
            - ./api-barberos/.env
        
        ports:
            - 5002:5002
        
        volumes:
            - ./api-barberos:/app
        
        depends_on:
            - barberos-db
            
        networks:
            - barberos-net
            - apis-net


networks:
  barberos-net:
    driver: bridge

  citas-net:
    driver: bridge

  apis-net:
    driver: bridge


volumes:
    barberos_db:
    citas_db: