name: Build and Push Docker Images

on:
  push:
    branches: ["main"]
    paths:
      - "**/Dockerfile"
      - "**/requirements.txt"

  pull_request:
    branches: ["main"]
    paths:
      - "**/Dockerfile"
      - "**/requirements.txt"

permissions:
  contents: read
  packages: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        api:
          - api-barberos
          - api-citas

    steps:
      - uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push ${{ matrix.api }}
        uses: docker/build-push-action@v5
        with:
          context: ./${{ matrix.api }}
          push: true
          tags: ghcr.io/inothingatall/${{ matrix.api }}:latest
